html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.desktop .div {
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  background: linear-gradient(180deg, rgb(28.69, 28.69, 28.69) 0%, rgb(38.25, 0, 0) 100%);
  height: 100%;
  width: 100%;
  position: relative;
}
.desktop {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    background: linear-gradient(180deg, rgb(28.69, 28.69, 28.69) 0%, rgb(38.25, 0, 0) 100%);
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .desktop .overlap {
    position: absolute;
    width: 1440px;
    height: 334px;
    top: 690px;
    left: 0;
  }
  
  .desktop .ellipse {
    position: absolute;
    width: 311px;
    height: 323px;
    top: 11px;
    left: 1129px;
  }
  
  .desktop .group {
    position: absolute;
    width: 1129px;
    height: 254px;
    top: 19px;
    left: 23px;
  }
  
  .desktop .text-wrapper {
    position: absolute;
    width: 832px;
    bottom: 120px;
    left: 187px;
    font-family: "Lilita One-Regular", Helvetica;
    font-weight: 400;
    color: #eee2e2;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .p {
    position: absolute;
    width: 938px;
    top: 108px;
    left: 187px;
    font-family: "Lilita One-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .image {
    position: absolute;
    width: 180px;
    height: 254px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .desktop .line {
    top: 0;
    position: absolute;
    width: 1440px;
    height: 15px;
    left: 0;
    object-fit: cover;
  }
  
  .desktop .overlap-group {
    position: absolute;
    width: 1036px;
    height: 327px;
    top: 81px;
    left: 14px;
  }
  
  .desktop .text-wrapper-2 {
    position: absolute;
    width: 706px;
    bottom: 221px;
    left: 0;
    font-family: "Lilita One-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .group-2 {
    position: absolute;
    width: 1027px;
    height: 254px;
    top: 73px;
    left: 9px;
  }
  
  .desktop .text-wrapper-3 {
    position: absolute;
    width: 836px;
    bottom: 135px;
    left: 187px;
    font-family: "Lilita One-Regular", Helvetica;
    font-weight: 400;
    color: #eee2e2;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-4 {
    position: absolute;
    width: 592px;
    top: 95px;
    left: 187px;
    font-family: "Lilita One-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .group-3 {
    position: absolute;
    width: 1217px;
    height: 254px;
    top: 429px;
    left: 23px;
  }
  
  .desktop .sh-matsu-nani {
    position: absolute;
    width: 938px;
    bottom: 95px;
    left: 187px;
    font-family: "Lilita One-Regular", Helvetica;
    font-weight: 400;
    color: #eee2e2;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-5 {
    position: absolute;
    width: 1026px;
    top: 127px;
    left: 187px;
    font-family: "Lilita One-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .navbar-wrapper {
    position: absolute;
    width: 1450px;
    height: 61px;
    top: 0;
    left: 0;
  }
  
  .desktop .navbar {
    position: relative;
    width: 1440px;
    height: 61px;
  }
  
  .desktop .rectangle {
    position: absolute;
    width: 1440px;
    height: 58px;
    top: 3px;
    left: 0;
    background-color: #550000;
  }
  
  .desktop .text-wrapper-6 {
    width: 92px;
    top: 9px;
    left: 328px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    font-size: 32px;
    position: absolute;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  .text-wrapper-6 a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    }
  
  .desktop .text-wrapper-7 {
    position: absolute;
    width: 268px;
    top: 9px;
    left: 995px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  .text-wrapper-7 a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    }
  
  .desktop .text-wrapper-8 {
    width: 125px;
    top: 9px;
    left: 765px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    font-size: 32px;
    position: absolute;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  .text-wrapper-8 a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }
  
  .desktop .text-wrapper-9 {
    position: absolute;
    width: 182px;
    top: 9px;
    left: 502px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #c70303;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  .text-wrapper-9 a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    }
  
  .desktop .text-wrapper-10 {
    width: 22px;
    top: 0;
    left: 37px;
    font-family: "Life Savers-ExtraBold", Helvetica;
    font-weight: 800;
    font-size: 64px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
  }
  .text-wrapper-10 a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    }
  .desktop .img {
    top: 413px;
    position: absolute;
    width: 1440px;
    height: 15px;
    left: 0;
    object-fit: cover;
  }
  