:root {
--black: rgba(0, 0, 0, 1);
--mahogany: rgba(85, 0, 0, 1);
--ebb: rgba(238, 266, 266, 1);
--white: rgba(255, 255, 255, 1);

--font-size-s: 15px;
--font-size-m: 20px;
--font-size-1: 24px;
--font-size-x1: 32px;
--font-size-xx1: 48px;
--font-size-xxx1: 64px;
--font-family-lilita_savers: "Life Savers";
--font-family-lilita_one: "Lilita One";
--font-family-poppins: "Poppins";
}
.lilitaone-normal-ebb-20px {
  color: var(--ebb);
  font-family: var(--font-family-lilita_one);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}